header {
  text-align: center;
}
form {
  text-align: center;
}
.repo {
  /*font-weight: bold;*/
}
.langName {
  text-align: center;
  font-style: normal;
}

.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }